In [45]:
import pandas as pd
def Reset():
    '''Starts as new data-frame or can be used to reset
    a filled data-frame
    
    Returns
    -------
    new_df: empty data-frame with Zegami headers as columns
    
    '''
    
    new_df = pd.DataFrame(columns = ['feature_id', 'image', 'chr',
              'bp start', 'bp end', 'FDR',
              'fold_enrichment', 'negLog10Pvalue',
              'num_tags', 'peak_length', 'summit',
              'TSNE_JK_x', 'TSNE_JK_y', 'Tags', 'plot_name', 'peak_type'])
    return new_df

In [46]:
df = Reset()
df

Empty DataFrame
Columns: [feature_id, image, chr, bp start, bp end, FDR, fold_enrichment, negLog10Pvalue, num_tags, peak_length, summit, TSNE_JK_x, TSNE_JK_y, Tags, plot_name, peak_type]
Index: []

In [47]:
def AppendGroup(df, table, name, peak_type):
    '''Append and import sub data-frame to the main data-frame
    
    Parameters
    ----------
    df: the pandas data-frame to append to new rows to
    table: tab-delimited output from zegami
    name: name of this plot
    peak_type: are the peaks low, high, absent etc.
    
    Returns
    -------
    update_df: updated df consisting of original plus the new data-frame
    
    '''
    
    _temp_df = pd.read_csv(table, sep='\t', header=0)
    _temp_df['plot_name'] = name
    _temp_df['peak_type'] = peak_type
    update_df = df.append(_temp_df, ignore_index=True)
    return update_df

In [49]:
df = AppendGroup(df, 'plot16_data.txt', 'plot16', 'high')

In [53]:
df[:5]

,feature_id,image,chr,bp start,bp end,FDR,fold_enrichment,negLog10Pvalue,num_tags,peak_length,summit,TSNE_JK_x,TSNE_JK_y,Tags,plot_name,peak_type
0,chr11_100754612_100755087,chr11_100754612_100755087.png,chr11,100754612.0,100755087.0,24.65,2.95,27.75,140.59,476.0,100754915.0,-11.129446,-2.832387,NaN,plot16,high
1,chr15_98461940_98462172,chr15_98461940_98462172.png,chr15,98461940.0,98462172.0,13.46,2.19,16.33,139.10,233.0,98462056.0,-7.970066,-1.721786,NaN,plot16,high
2,chr10_69559571_69560023,chr10_69559571_69560023.png,chr10,69559571.0,69560023.0,43.47,3.94,46.93,162.10,453.0,69559804.0,-10.071530,-1.586616,NaN,plot16,high
3,chr8_86146348_86146583,chr8_86146348_86146583.png,chr8,86146348.0,86146583.0,18.46,2.49,21.44,143.55,236.0,86146434.0,-8.717327,-0.089539,NaN,plot16,high
4,chr7_28311474_28311866,chr7_28311474_28311866.png,chr7,28311474.0,28311866.0,50.65,4.91,54.25,148.75,393.0,28311674.0,-9.152267,-2.347706,NaN,plot16,high